{% extends 'base_admin.html' %}
{% block 'job' %} class = "active" {% endblock %}
{% block 'messages' %} class = "active" {% endblock %}
{% block 'title' %}Job Application{% endblock %}
{% load staticfiles %}
{% load static %}
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<!--main content start-->
{% block 'content' %}
<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Job Applicants</h3>
    <div class="row mb">
      <!-- page start-->
      <div class="content-panel">
        <div class="adv-table">
          <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="my_table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Years of Experience</th>
              <th>City</th>
              <th>State</th>
              <th>About</th>
              <th>Delete?</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
            <tr>
              <td>{{ job.name }}</td>
              <td>{{ job.email }}</td>
              <td>{{ job.years_of_experience }}</td>
              <td>{{ job.city }}</td>
              <td>{{ job.state }}</td>
              <td>{{ job.about }}</td>
              <td>
                <form method = "post" action = ".">
                  <input type = "text" name = "job_id" hidden value = "{{ job.id }}">
                  {% csrf_token %}
                  <input type = "submit" value = "delete" >
                </form>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- page end-->
    </div>
    <!-- /row -->
  </section>
  <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->
{% endblock %}