{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load blog_tags %}
{% load social_share %}
{% block 'title' %} {{ name }} | Organization{% endblock %}
{% block 'org_name' %} {{ name }} {% endblock %}

{% block 'content' %}

<!--=== DONATE modal ===-->
<div class="modal fade" id="donateModal" style="overflow:visible!important">
    <div class="modal-dialog modal-lg text-center">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h1>Donate Now </h1>
                <div class="accent-rule-short"></div>
                <h2>Join us in helping people survive and rebuild their lives. </h2>
                <ul class="list-unstyled list-inline">
                    <li><button type="button" class="btn btn-primary btn-xl btn-block">$15</button></li>
                    <li><button type="button" class="btn btn-primary btn-xl btn-block">$25</button></li>
                    <li><button type="button" class="btn btn-primary btn-xl btn-block">$50</button></li>
                    <li><button type="button" class="btn btn-primary btn-xl btn-block">$75</button></li>
                    <li><button type="button" class="btn btn-primary btn-xl btn-block">$100</button></li>
                    <li>
                        <div class="control-group">
                            <div class="form-control-donate controls">
                                <input name="textinput" placeholder="$ Other Amount" class="form-control" type="text">
                            </div>
                        </div>
                    </li>
                </ul>
                <br>
                <!-- monthly / one-time -->
                <form class="form-horizontal text-center">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="radio-inline" for="radios-s">
                                    <input name="radios" id="radios-s" value="1" checked="checked" type="radio">
                                    Single Donation
                                </label>
                                <label class="radio-inline" for="radios-m">
                                    <input name="radios" id="radios-m" value="2" type="radio">
                                    Monthly Donation
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br>
                <button type="button" class="btn btn-tertiary btn-xl btn-rounded-edge" data-dismiss="modal">Continue</button>
                <br><br>
            </div>
        </div><!-- / modal-content -->
    </div><!-- / modal-dialog -->
</div><!--=== / END donate modal ===-->

<!--=== INTRO ===-->
<header id="home" class="intro">
    <div class="overlay-dark">
        <div class="intro-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- carousel container-->
                    <div class="carousel-wrapper">
                        <!-- carousel -->
                        <div class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <!-- item 1  -->
                                <div class="item active">
                                    <span class="text-big">{{ line1 }}</span><br>
                                </div><!-- /end item 1  -->
                                <!-- item 2  -->
                                <div class="item">
                                    <span class="text-big">{{ line2 }}</span><br>
                                </div><!-- /end item 2  -->
                                <!-- item 3  -->
                                <div class="item">
                                    <span class="text-big">{{ line3 }}</span><br>
                                </div><!-- /end item 3  -->
                            </div></div><!-- /end carousel  -->
                    </div><!-- /end carousel container-->
                </div>
            </div>

            <!-- fundraising bar -->
            <!-- /end fundraising bar -->
        </div></div>
</header><!--=== END intro ===-->

<!--=== About Carousel ===-->
<section id="about" class="bg-brand-secondary-dark">
    <div class="col-lg-12 inner-container text-center wow animated fadeInDown" data-wow-offset="10">
        <h1>Who we are</h1>
        <div class="accent-rule-short"></div>
        <div class="vert-centered-wrapper-150px"><!-- height set in one-page-base.css -->
            <div class="vert-centered">
                <!-- carousel -->
                <div class="carousel slide carousel-fade" id="carousel_fade">
                    <div class="carousel-inner">
                        <!-- item 1  -->
                        <div class="item active">
                            <h2>{{ about|safe }}.</h2>
                        </div><!-- /end item 1  -->
                    </div><!-- /end carousel-inner  -->
                </div> <!-- /end carousel  -->
            </div> <!-- /end vert centered inside wrapper -->
        </div> <!-- /end vert centered and animation wrapper -->
    </div>
    <div class="clearfix"></div>
</section><!--=== / END about  ===-->

<!--=== NEWS & EVENTS ===-->
<section id="events">
    <div class="bg-white">
        <div class="inner-container overlay-light row-of-columns"><!-- used 'row-of-columns' anytime columns will eventually stack in resposive mode adds bottom margin to all inner columns when window less than 1200px   -->
            <!-- section header -->
            <div class="row text-center">
                <div class="col-lg-8 col-xs-12 col-lg-offset-2  wow animated fadeInDown">
                    <h1 class="">News & Events</h1>
                    <div class="accent-rule-short"></div>
                    <h2>We organize a variety of events to help people learn about and get involved with {{ name }}. From talks to charity drives to community service, this is where you can find out what’s going on.</h2>
                </div>
            </div><!-- / end section header -->
            <!-- tabs -->
            <div class="col-sm-12 wow animated-longer-delay-1 fadeIn">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active large"><a href="#recent-news" role="tab" data-toggle="tab">News</a></li>
                    <li class="large"><a href="#upcoming-events" role="tab" data-toggle="tab">Events</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content bg-white">
                    <!-- tab pane 1 -->
                    <div class="tab-pane active" id="recent-news">
                        <div id="custom-scrollbar-rec-news" class="custom-scrollbar">
                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                            <div class="viewport">
                                <ul class="list-unstyled list-vert-solid-line-bottom overview col-lg-11 col-xs-11">
                                    {% for news_item in news %}
                                    <li>
                                        <div class="thumbnail-md"><img src="{{ news_item.news_image.url }}" class="img-responsive pull-left" alt="{{ news.title }}"></div>
                                        <h4>{{ news_item.title }}</h4>
                                        <span class="time-stamp">{{ news_item.publish }}</span>
                                        {% for tag in news_item.tags.all %}
                                            <i class="fa fa-tag"></i> {{ tag }}
                                        {% endfor %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- / end viewport -->
                        </div><!-- / end custom-scroll bar wrapper -->
                    </div><!-- / end tab pane 1 -->

                    <!-- tab pane 2 -->
                    <div class="tab-pane" id="upcoming-events">
                        <!-- carousel -->
                        <div class="carousel slide carousel-fade" id="carousel_2">
                            <div class="carousel-inner">
                                {% for key,event_item in events.items %}
                                <!-- item 1  -->
                                <div class="{% if key == 0 %}item active{% else %}item{% endif %}">
                                    {% for event in event_item %}
                                    <div class="col-lg-12 row-of-columns">
                                        <div class="col-md-3 bg-brand-primary">
                                            <div class="event-date text-center ">
                                                <h4 class="bold" >{{ event.event_start_date|date:"F" }}</h4>
                                                <h1>{{ event.event_start_date.day }}</h1>
                                            </div>
                                        </div>
                                        <div class="col-md-9"><br>
                                            <h4>{{ event.event_name }}</h4>
                                            <p>{{ event.event_description|safe|truncatewords:30 }}
                                            <ul class="list-inline list-unstyled event-details list-vert-solid-line-left">
                                                <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ event.event_start_time }} </li>
                                                <li>{% post_to_facebook event %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr class="medium">
                                    {% endfor %}
                                </div> <!-- /end item 1  -->
                                {% endfor %}

                            </div> <!-- /end carousel-inner  -->

                            <!-- controls -->
                            <a class="left carousel-control" href="#carousel_2" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left text-secondary-lighter"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel_2" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right text-secondary-lighter"></span>
                            </a>

                        </div> <!-- /end carousel  -->
                    </div><!-- / end tab pane 2 -->
                    <div class="clearfix"></div>
                </div>
            </div><!-- / end tabs -->

        </div></div>
</section><!--=== / END news & events  ===-->

<!--=== GALLERY ===-->
<section id="gallery">
    <div class="col-lg-12 no-padding bg-white">
        <!-- Gallery-->
        <div id="effect-1" class="effects clearfix">
            <div class="col-lg-4 col-sm-6 col-xs-12 bg-brand-tertiary wow animated fadeIn text-center">
                <div class=" col-xs-12 float-over-top-center">
                    <h1 class="text-uppercase">Our<br> Causes
                        <span class="responsive-hide">
                                                      	<i class="fa fa-caret-right transparent-30"></i>
                                                      </span>
                    </h1>
                </div>
                <img src=" {% static 'img/gal-spacer.png' %} " alt="gallery" class="img-responsive" >
            </div>
            {% for key, cause in causes.items %}
            <div class="img col-lg-4 col-sm-6 col-xs-12 tn wow animated-longer-delay-{{ key }} fadeIn">
                <div class="gallery effects-container effects-enlarge">
                    <a href="{{ cause.cause_image.url }}" alt="{{ cause.cause_description|safe }}"  data-gal="prettyPhoto[galleryName]">
                        <img src="{{ cause.cause_image.url }}" alt="{{ cause.cause_name }}" />
                        <div class="overlay">
                            <span class="expand"><i class=" fa fa-chevron-right"></i></span>
                            <div class="overlay-caption">
                                <h3>{{ cause.cause_name }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div><!-- end hover effects wrapper-->
    </div><!-- / end inner container -->
    <div class="clearfix"></div>
</section><!--=== / END gallery  ===-->

<!--=== GET INVOLVED ===-->
<section id="join" class="bg-white">
    <div class="inner-container">
        <!-- section header -->
        <div class="row text-center">
            <div class="col-lg-8 col-xs-12 col-lg-offset-2  wow animated fadeInDown">
                <h1 class="">Make an Impact</h1>
                <div class="accent-rule-short"></div>
                <h2>Interested in connecting with a larger community? We'd love to hear from you! Check out the number of ways to get involved.</h2>
            </div>
        </div><!-- / end section header -->
        <div class="row row-after-a-row row-of-columns">
            <div class="col-lg-3 col-sm-6 text-center  wow animated-longer-delay-1 fadeIn">
                <button class="btn  btn-white text-big" data-toggle="modal" data-target="#joinModal1"><i class="text-primary fa fa-send"></i></button>
                <h3>Spread the word</h3>
                <p>Contact us with your genius social media marketing strategy. If we like it, we'll put you in charge of it.</p>
                <button class="btn btn-black btn-sm" data-toggle="modal" data-target="#joinModal1">Apply Now</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center  wow animated-longer-delay-4 fadeIn">
                <button class="btn btn-white text-big text-primary" data-toggle="modal" data-target="#joinModal2"><i class="fa fa-graduation-cap"></i></button>
                <h3>Be an Ambassador</h3>
                <p>Do you want to spearhead initiatives that inspire mass change? Click below to apply to become an ambassador.</p>
                <button class="btn btn-black btn-sm" data-toggle="modal" data-target="#joinModal2">Apply Now</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center  wow animated-longer-delay-5 fadeIn">
                <button class="btn btn-white text-big text-primary" data-toggle="modal" data-target="#joinModal3"><i class="fa fa-tasks"></i></button>
                <h3>Be a Volunteer</h3>
                <p>We need people! If your up for hosting one of our monthly events in your area, we want to hear from you.</p>
                <button class="btn btn-black btn-sm" data-toggle="modal" data-target="#joinModal3">Apply Now</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center  wow animated-longer-delay-6 fadeIn">
                <button class="btn btn-white text-big text-primary" data-toggle="modal" data-target="#joinModal4"><i class="fa fa-globe"></i></button>
                <h3>Come Work for Us</h3>
                <p>Are you a leader who shares our passion for social change? If your up to the challenge, submit your creds below.</p>
                <button class="btn btn-black btn-sm" data-toggle="modal" data-target="#joinModal4">Apply Now</button>
            </div>
        </div>
    </div>

    <!-- MODALS -->
    <!-- modal 1 -->
    <div class="modal fade" id="joinModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title text-tertiary">Spread the Word</h2>
                </div>
                <div class="modal-body">
                    <p>As an organization working for a greater cause we require people to spread the word about what we are doing.</p>
                    <h4>Tell us who you are</h4>
                    <form class="form-horizontal" method="post" action=".">
                        <fieldset>
                            <!-- Text input-->
                            <input name="organization_id" value="{{ id }}" type="hidden">
                            <input name="form_type" value="spread_word" type="hidden">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="name">Name <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="name-o" name="name" placeholder="name" class="form-control input-md" required="" type="text">

                                </div>
                            </div>
                            {% csrf_token %}
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email Address <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="email-o" name="email" placeholder="email" class="form-control input-md" required="" type="text">

                                </div>
                            </div>

                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tell us about yourself <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="text-5" name="about">...</textarea>
                                </div>
                            </div>

                        </fieldset>
                        <div class="controls pull-right">
                            <button id="submitbtn-3" class="field button btn btn-tertiary" value="send message" type="submit">
                                Send Message</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!-- modal 1 -->
    <!-- modal 2 -->
    <div class="modal fade" id="joinModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title text-tertiary">Be an Ambassador</h2>
                </div>
                <div class="modal-body">
                    <p>Be an ambassador and represent our organization in your area.</p>
                    <form class="form-horizontal" method="post" action=".">
                        <fieldset>
                            <!-- Text input-->
                            <input name="organization_id" value="{{ id }}" type="hidden">
                            <input name="form_type" value="ambassador" type="hidden">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-4 control-label">Name <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="name-2" name="name" placeholder="name" class="form-control input-md" required="" type="text">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email Address <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="email-2" name="email" placeholder="email" class="form-control input-md" required="" type="text">
                                </div>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tell us about yourself <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="text-6" name="about">...</textarea>
                                </div>
                            </div>

                        </fieldset>
                        <div class="controls pull-right">
                            <button id="submitbtn-4" class="field button btn btn-tertiary" value="send message" type="submit">
                                Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!-- modal 2 -->
    <!-- modal 3 -->
    <div class="modal fade" id="joinModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title text-tertiary" id="myModalLabel">Be a Volunteer</h2>
                </div>
                <div class="modal-body">
                    <p>This is your chance to give back to society, register so that we may contact you for available slots.</p>
                    <form class="form-horizontal" method="post" action=".">
                        <fieldset>
                            <!-- Text input-->
                            <input name="organization_id" value="{{ id }}" type="hidden">
                            <input name="form_type" value="volunteer" type="hidden">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-4 control-label">Name <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="name-2" name="name" placeholder="name" class="form-control input-md" required="" type="text">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email Address <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="email-2" name="email" placeholder="email" class="form-control input-md" required="" type="text">
                                </div>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tell us about yourself <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="text-6" name="about">...</textarea>
                                </div>
                            </div>

                        </fieldset>
                        <div class="controls pull-right">
                            <button id="submitbtn-4" class="field button btn btn-tertiary" value="send message" type="submit">
                                Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!-- modal 3 -->
    <!-- modal 4 -->
    <div class="modal fade" id="joinModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title text-tertiary">Come Work for Us</h2>
                </div>
                <div class="modal-body">
                    <p>Please briefly tell us about yourself and what position you think will be suitable for you. We will contact you in case of any requirements</p>
                    <form class="form-horizontal">
                        <fieldset>
                            <input name="organization_id" value="{{ id }}" type="hidden">
                            <input name="form_type" value="job" type="hidden">
                            {% csrf_token %}

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Name <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="name-4" name="name" placeholder="name" class="form-control input-md" required="" type="text">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email Address <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="email-4" name="email" placeholder="email" class="form-control input-md" required="" type="text">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">City <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="city-4" name="city" placeholder="city" class="form-control input-md" required="" type="text">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">State <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <input id="state-4" name="state" placeholder="state" class="form-control input-md" required="" type="text">
                                </div>
                            </div>
                            <!-- Multiple Radios (inline) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Years of Experience <span class="text-tertiary">*</span></label>
                                <div class="col-md-4">
                                    <label class="radio-inline">
                                        <input name="yoe" id="radios-0" value="1" checked="checked" type="radio">
                                        1
                                    </label>
                                    <label class="radio-inline">
                                        <input name="yoe" id="radios-1" value="2" type="radio">
                                        2
                                    </label>
                                    <label class="radio-inline">
                                        <input name="yoe" id="radios-2" value="3" type="radio">
                                        3
                                    </label>
                                    <label class="radio-inline">
                                        <input name="yoe" id="radios-3" value="4" type="radio">
                                        4
                                    </label>
                                </div>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tell us about yourself <span class="text-tertiary">*</span></label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="text-4" name="about">...</textarea>
                                </div>
                            </div>

                        </fieldset>
                        <div class="controls pull-right">
                            <button id="submitbtn-2" class="field button btn btn-tertiary" value="send message" type="submit">
                                Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!-- modal 4 --><!-- / end Modals -->
    <div class="clearfix"></div>
</section><!--=== / END get involved   ===-->

<!--=== CONTACT ===-->
<section id="contact">
    <div class="row">
        <div class="span4 collapse-group">
            <div id="viewdetails" class="bg-brand-tertiary collapse">
                <div class="inner-container animated fadeIn">
                    <div class="col-lg-12"><h2>Contact Us</h2></div>
                    <div class="col-lg-8">
                        <!-- contact form -->
                        <div class="col-lg-12 no-padding">
                            <div class="col-lg-8 no-padding"><p></p></div>
                        </div>
                        <form method="post" action="." id="contactform" class="contactform">

                            <input name="organization_id" value="{{ id }}" type="hidden">
                            <input name="form_type" value="contact" type="hidden">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="controls">
                                    <label class="control-label">Name <span class="transparent-50">*</span></label>
                                    <input type="text" id="name" name="name" class="field text form-control" placeholder="Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="controls">
                                    <label class="control-label">Email <span class="transparent-50">*</span></label>
                                    <input type="text" id="email"  name="email" class="field text form-control"  placeholder="Email">
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="controls">
                                    <label class="control-label">Subject <span class="transparent-50">*</span></label>
                                    <input type="text"  id="subject" name="subject" class="field textbig form-control" placeholder="Subject">
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="controls">
                                    <label class="control-label">Message <span class="transparent-50">*</span></label>
                                    <textarea id="comments" name="message" class="field form-control" rows="5" placeholder="Enter your message here..."></textarea>

                                </div>
                            </div>

                            <div class="controls">
                                <button type="submit" value="send message" id="submitbtn" class="btn btn-black btn-lg btn-rounded-edge">Send Message</button>

                            </div>
                        </form>
                    </div><!-- /end contact form -->
                    <div class="col-lg-4 col-sm-12 col-right-responsive-fix">
                        <h3>We want to hear from you</h3>
                        <p>We view ourselves as relational. If you prefer to talk to a real live person, please pick up the phone and give us a call.</p>
                        <br>
                        <h3>Have any questions?</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- / end collapse-group -->
    </div><!-- / end row -->
    <div class="bg-brand-tertiary thin-strip">&nbsp;</div>
    <div class="wrapper-relative bg-white">
        <div class="wow animated-longer-delay-4"> </div>
        <!-- contact toggle -->
        <div class="float-over-top">
            <div id="contact-toggle" class="tab-down tab-down-tertiary"><a class="" data-toggle="collapse" data-target="#viewdetails"><h3>Send us a message <i class="fa fa-chevron-down"></i></h3></a></div>
        </div><!--/ end contact toggle -->

    </div>
</section> <!--=== / END contact ===-->

{% endblock %}
{% block 'city' %}{{ city }}{% endblock %}
{% block 'country' %}{{ country }}{% endblock %}
{% block 'mission' %}{{ mission }}{% endblock %}
{% block 'email' %}{{ contact_email }}{% endblock %}